/target
**/*.rs.bk
Cargo.lock
*.toml.local
*.log
/logs
/config/*.local.toml
.idea
*.swp
*.swo
.DS_Store
package-lock.json
Cargo.lock
/node_modules
/desktop-agent-ui/node_modules
/desktop-agent-ui/dist
/desktop-agent-ui/src-tauri/target
/desktop-agent-ui/src-tauri/gen
/android-agent/.gradle
/android-agent/build
/android-agent/app/build
/android-agent/app/src/main/jniLibs
/android-agent/local.properties
*~
