name: build

on:
    push:
        branches: ["main"]
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: "1.93.0"
                  components: rustfmt, clippy

            - name: Cache Cargo
              uses: Swatinem/rust-cache@v2

            - name: Build
              run: cargo build --workspace --all-targets --release

            - name: Unit Tests
              run: cargo test --workspace --lib --bins
