name: deploy

on:
  push:
    tags:
      - "v*"

jobs:
  deploy-proxy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "1.93.0"

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      - name: Build Proxy (Linux)
        run: cargo build -p proxy --release

      - name: Upload proxy binary
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          source: target/release/proxy
          target: ${{ secrets.DEPLOY_FOLDER }}
          strip_components: 2

      - name: Upload config files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          source: |
            config/remote/proxy.toml
            config/remote/users.toml
          target: ${{ secrets.DEPLOY_FOLDER }}
          strip_components: 2

      - name: Upload start script
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          source: start-proxy.sh
          target: ${{ secrets.DEPLOY_FOLDER }}

      - name: Restart proxy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          script: |
            chmod +x ${{ secrets.DEPLOY_FOLDER }}/start-proxy.sh
            ${{ secrets.DEPLOY_FOLDER }}/start-proxy.sh
