name: Build and Run Integration Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  integration-test:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          apt-get update
          apt-get install -y curl build-essential gcc pkg-config libssl-dev

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "1.93.0"

      - uses: Swatinem/rust-cache@v2
        name: Cache Cargo

      - name: Start mock target
        run: |
          cargo run -p integration-tests -- mock-target &
          npx wait-on http://localhost:9090/health --timeout 60000

      - name: Start proxy
        run: |
          cargo run --package proxy --bin proxy -- --config config/local/proxy.toml &
          npx wait-on tcp:8080 -t 60000

      - name: Start agent
        run: |
          cargo run --package agent --bin agent -- --config config/local/agent.toml &
          npx wait-on tcp:7070 -t 60000

      - name: Integration Tests
        run: cargo run --package integration-tests --bin integration-tests -- integration --agent-addr 127.0.0.1:7070 --proxy-addr 127.0.0.1:8080


