name: Build and Run Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          apt-get update
          apt-get install -y curl build-essential gcc pkg-config libssl-dev

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "1.93.0"
          components: rustfmt, clippy

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --workspace --all-targets --release

      - name: Unit Tests
        run: cargo test --workspace --lib --bins
